   <form action="/note/<%=@project.id%>/<%= @book ? @book.id : "project" %>" method="POST">
            <input type="hidden" id="hidden">
            <input type="text" name="comment" placeholder="topic/category">
            <input type="submit" value="note">
    </form>