   <form action="/note/<%=@project.account_id%>/<%=@project.id%>" method="POST">
            <input type="hidden" id="hidden">
            <input type="text" name="comment" placeholder="topic/category">
            <input type="submit" value="note">
    </form>