      
            <form action="/addendum/<%=@type%>/<%=@note.project_id%>/<%=@note.id%>" method="post" class="add-addendum">
                    <input id="hidden" type="hidden" name="_method" value="post">
                    <textarea rows="3" cols="100" name="addition"></textarea>
                    <input type="submit" value="submit">
            </form>
       
