<img src="/about.png" class="icon" alt="">

<h1>THIS IS THE ABOUT PAGE</h1>

<p>
	CRM 
	/ Study Dictionary- vocabulary, concept building, flashcard system
	 / Project Logs-- links, images, notes
	PEOPLE | ACTION | DECKS  
	<a href="/" title="">home</a> page
</p>