


<form method="POST" action="/people/new">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Your street address: <input type="text" name="street_address"></p>
  <p>Your city: <input type="text" name="city"></p>
  <p>Your state: <input type="text" name="state"></p>
  <p>Your zipcode: <input type="number" name="zip_code"></p>
  <p>photo: <input type="file" alt="fuck you" name="photo"></p>
  <p><input type="submit"></p>
</form>
