<h1><%=@content.front%></h1>
<h1><%=@content.reverse%></h1>



<form action="/flashcard/create" method: "PUSH">
    <input type="text" name: "front">
    <input type="text" name: "reverse">
    <input type="hidden" name: "views" value: "0">
    <input type="hidden" name: "difficulty value: "10">
    <input type="submit" value: "submit">
</form>


