<div id="home">
    <h1>SinatraCRM</h1>

    <h3><a href="/people"title="">people</a>  </h3> 
    <h3><a href="/activities" title="">action</a></h3>
    <h3><a href="/flashcards">cards</a></h3>

</div>