<div id="home">
    <h1>SinatraCRM</h1>

    <h3><a href="/people"title="">people</a></h3>

    <h3><a href="/people/all/touch_points" title="">touch points</a></h3>

    <h3><a href="/people/create" title="">new</a></h3>

    <h5><a href="/secret"title="">secret</a></h5>

</div>