<div id="home">
    <h1>SinatraCRM</h1>

    <h3><a href="/people"title="">people</a>  </h3> 
    <h3><a href="/people/create" title="">new</a>  </h3>
    <h3><a href="/people/all/touch_points" title="">points</a></h3>

</div>