<div id="home">
    <h1>SinatraCRM</h1>

    <h3><a href="/people"title="">people</a>  </h3> 
    <h3><a href="/people/new" title="">new</a>  </h3>
    <h3><a href="/activities" title="">activities & projects</a></h3>
    <h3><a href="/flashcards">flashcards</a></h3>

</div>