<!DOCTYPE html>
<html>
<head>
<title>SINATRA CRM</title>
<script type="text/javascript" src="/javascript/script.js"></script>
<link rel='stylesheet' type='text/css' href="<%= url("/style.css") %>">
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>

<body>
 <% @color_array=[" #624d60", " #e7ee8f", " #878db5", " #b335a6", " #25a5da", " #919dc5", " #44fee3", " #384f14", " #39ced9", " #fd0fbb", " #b4d36b", " #0b84cc", " #072f47", " #9f600c", " #6246a7", " #d9b8ab", " #7a8d21", " #688fae", " #44dd7d", " #9c33f6", " #89038b", " #c85ce1", " #2b6e90", " #136888", " #52ebeb", " #99fc8c", " #29d441", " #98bed7", " #246c06", " #0e8996", " #e37d26", " #2d1521", " #587900", " #44d76b", " #3095b2", " #b58e54", " #4c144a", " #c5ac66", " #62c734", " #dbfa4c", " #3ea511", " #0361b8", " #484346", " #0121e5", " #660b0c", " #d6c861", " #64ae22", " #c4b645", " #56310c", " #dfce8e", " #b60762", " #56cd8e", " #482c95", " #6e352c", " #5c4d98", " #f0f870", " #b8d191", " #9ab838", " #6c7dea", " #5e109b", " #aebd16", " #c941c9", " #872b3b", " #2392c5"]
%>
  <div id="container" >
    <div id='header'>
      <a href='/' class='nav'>HOME</a>
      <a href='/people' class='nav'>people</a>
      <a href="/activities" class='nav'>action</a>
      <a href="/dictionaries" class='nav'>dictionaries</a>
      <a href="/secret" class='nav'>SECRET</a>
    </div>

    <div id='main'>
      <%= yield %>
    </div>

    <div id='footer'>
    ©  SinatraCRM
    </div>
  </div>
</body>
</html>


<a href="https://github.com/mdavidgreen/sinatra-bourbon" style="color:maroon">link</a>