
<h1>Listing Meetings</h1>

<% AgendaDay.new(Time.now)%>
<% AgendaDay.create_range(Time.now)%>


<div  id="calendar">


<h1>WHat the fuck!</h1>
<p>this is a test</p>

<ul id="list">
<li>reason one: because</li>
<li>reason two: also because</li>
</ul>
<table>
    <thead>
      <tr>
      <%AgendaDay.days.slice(0,7).each do |day|%>
        <th><%= day.date_time.strftime("%a") %> </th>
    <% end %>
      </tr>
      </thead>
        <tbody>
            <% AgendaDay.days.each_slice(7) do |week| %>
            <tr>
                <% week.each do |day| %>
                    <td>
                        <%= day.date_time.strftime('%d')%>
                    </td>
                <% end %>
            <% end %>
            </tr>
        </tbody>
</table>
</div>