


<form method="POST" action="/new">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Your street address: <input type="text" name="street_address"></p>
  <p>Your city: <input type="text" name="city"></p>
  <p>Your state: <input type="text" name="state"></p>
  <p>Your zipcode: <input type="number" name="zip_code"></p>
  <input type="submit">
</form>

<h1>New QReader</h1>

<p> 
    <ul>
        <li><a href="/new" title="">new</a> page</li>
        <li><a href="/about" title="">about</a> page</li>
    </ul>

</p>

<p>
	This app doesn't do anything, but that doesn't matter!
	Feel free to check out the <a href="/" title="">home</a> page
</p>