<form method="POST" action="/people/method/new">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Your street address: <input type="text" name="street_address"></p>
  <p>Your city: <input type="text" name="city"></p>
  <p>Your state: <input type="text" name="state"></p>
  <p>Your zipcode: <input type="text" name="zipcode"></p>
  <input type="submit">
</form>