






<div id="people">
    <ul>    
                <%Person.people.each_with_index do |person, index|%>

            <li><a href="/people/<%=Person.people.index(person)%>"><%=person.name%></a></li>

            <%end %>

            <li><a href="/people/create" title="">new</a> | <a href="/people/all/touch_points" title="">touch points</a> | <a href="/">home</a></li>
        

    </ul>
</div>
