






<div id="people">

<h1>My People</h1>

    <ul>    
    <%=@people = Account.all%>
                <%@people.each do |person|%>

            <li><a href="/people/<%=person.id%>"><%=person.name%></a></li>
          


            <%end %>

            <li><a href="/people/create" title="">new</a> | <a href="/people/all/touch_points" title="">touch points</a> | <a href="/">home</a></li>
        

    </ul>
</div>
