<div>
<h1 style="background-color:red; border: 3px solid black; width: 225px; margin: auto; margin-bottom: 10px; padding: 5px; font-weight: bold; ">My People</h1>
</div>
<div id="people">


           <%@people = Account.all%>
                <%@people.sort_by{|person| person.name}.each do |person|%>

            <h4 style="border: 2px solid black; background-color: <%=@color_array[rand(63)]%>;"><a href="/people/<%=person.id%>"><%=person.name%></a></h4>  
          


            <% end %>
</div>
            <div style="text-align: center;">
           <a href="/people/new" title="">new</a> | <a href="/activities" title="">action</a> | <a href="/">home</a>
             </div>