
<h1>Testing for the People Page</h1>

<ul>    
            <%Person.people.each_with_index do |person, index|%>

        <li> <%=person.name%><a href="/people/<%=Person.people.index(person) %>"> <%= index %></a></li>

        <%end %>

        <li><a href="/new" title="">new</a> page</li>
    

</ul>
