<
    <% range = ("a".."z").to_a%>
    <% range.each do |letter|%>
    
   <%= letter %>
    
    <% end %>
   

    <h3>My List</h3>
    <h5><a href="/">home</a></h5>

<div>
    <table>
        <th>
            <td>date</td>
            <td>item</td>
        </th>
        <tr>
            <td>10/10/2021</td>
            <td>Gift for Owen</td>
        </tr>
        <tr>
            <td>10/27/2021</td>
            <td>My Birthday!!!!</td>
        </tr>
    </table>
</div>
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>