<h1><%= @person.name%></h1>
<h1>Porjects</h1>
<ul>
    <%= @person.projects.each do |project|%>
        <li><%= project.title %></li>
        <li><%= project.description %></li>
        
    <% end %>
</ul>

