
<h1 style="color:blue;">Video Page!</h1>
<div style="margins: auto; width: 100%; text-align: center;">
<video src="/VID_20210429_192836.mp4" style="height: 300px; width: 200px; margins: auto;" controls></video>
</div>


<ol>
    <li><b style="color:maroon">singleton</b>-- single instance of class w/global access.</li>
    <li><b style="color:maroon">factory</b>-- interface product (client) => factory (concrete product)</li>
    <li><b style="color:maroon">prototype</b>-- clone instance of original object</li>
    <li><b style="color:maroon">reuseable</b>-- resuses objects that are expensive to create.</li>
    <li><b style="color:maroon">chain</b>client => handler => multiple processes</li>
    <li></li>
</ol>