.project-boxes {
    float: left;
    max-width: 300px;
    height: 100 px;
    padding: 10px;
    border-radius: 8px;
    border: 5px solid black;
    margin-top: 5px;
    margin-right: 10px;

}

.term-box {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.result-box {
    padding: 10px;
    margin-bottom: 5px;
}

.left-50 {
    margin-left: 50px;
}

.left-80 {
    margin-left: 80px;
}

.top-15 {
    margin-top: 15px;
}

.bottom-20 {
    margin-bottom: 20px;
}

.tag-button {
    margin-left: 5px;
    background: silver;
    font-size: 75%;
}

.difficulty-button {
    margin-left: 5px;
    background: orange;
    font-size: 75%;
}

.entry-info {
    background-color: <%=rand_color %>;
}