/* change defaults */

body {
  font-family: 'Consolas';
  font-weight: 400;
  margin:0px;
  background-color: #ffffff;
}

ul li {
  list-style: none;
  padding: 5px;
}

a {
  text-decoration: none;
}

h1, p {
  text-align: center;
  font-weight: normal;
}

#container {
  width: 1180px;
  height: 543px;
  margin-left: auto;
  margin-right: auto;
}

#main{
  width: 1180px;
  min-height: 200px;
  border-radius: 4px;
  border: 1px solid #e3dcdc;
}

#main {
  display: block;
  position: relative;
  padding: 50px 0px;
}

img.logo {
  height: 54px;
  border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  display: inline-block;
}

.icon {
  width: 50px;
  display: block;
  margin: auto;
}

#header {
  display: block;
  padding-top: 30px;
  height: 90px;
  margin:0px;
}

#header > a.nav {
  padding-top: 20px;
  padding-left: 100px;
  float: right;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
  color: #000000;
}


#footer {
  display: block;
  color: #8a8a8a;
  height: 100px;
  padding: 10px;
  text-align:center;
}

#profile {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#profile_photo {

  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#profile_nav {

  display: block;
  float: right;
  padding: 0;

}

#home {

  background-image: url('DSCF1886.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border: 3px solid black;
  text-align: center;

}

#people {
  text-align: center;
  background-color: maroon;
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

#people a {
  color: black;
  font-weight: bold;;
  font-size: 150%;
}

#touch_points {

  background-color: silver;
  width: 50%;
  height: 400px;
  text-align: center;
  margin-left: 0px;

 

}


