/* change defaults */

body {
  font-family: 'Consolas';
  background-color: pink;
  color: black;
}

ul {
  list-style-type: none;
  padding: 5px;
}

a {
  text-decoration: none;
  color:black;
}

h1, p {
  text-align: center;
  font-weight: normal;
}

#container {
  width: 1180px;
  height: 543px;
  margin-left: auto;
  margin-right: auto;
}

#main{
  width: 1180px;
  min-height: 200px;
  border-radius: 4px;
  border: 1px solid #e3dcdc;
}

#main {
  display: block;
  position: relative;
  padding: 50px 0px;
}

img.logo {
  height: 54px;
  border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  display: inline-block;
}

.icon {
  width: 50px;
  display: block;
  margin: auto;
}

#header {
  display: block;
  padding-top: 30px;
  height: 90px;
  margin:0px;
}

#header > a.nav {
  padding-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color:red;
}


#footer {
  display: block;
  color: #8a8a8a;
  height: 100px;
  padding: 10px;
  text-align:center;
}


#home {
  
  background-image: url('DSCF1886.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border: 3px solid black;
  text-align: center;
  font-size: 150%;
  letter-spacing: 2px;
  font-weight: bold;
}


#home h1 {
  color: rgb(3, 3, 65);
  background-color: rgb(160, 46, 46, .2);
  display: block;
  width: 300px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  background-color: rgb(160, 46, 46, .2);
  display: block;
  width: 150px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
h4 {
  background-color: rgb(160, 46, 46, .2);
  display: block;
  width: 250px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#people {

  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 30%;
  text-align: center;
  background-color: cornsilk;
  border: 2px solid purple;
  padding: 10px;

}

#people a {
  color: black;
  font-weight: bold;
  font-size: 150%;
}

#people li {
  background-color: pink;
  padding-top: 5px;
}

#touch_points {

  background-color: silver;
  width: 50%;
  height: 400px;
  text-align: center;
  margin-left: 0px;

}

#profile {
  margin-left: 60px;
  display: inline;
  margin: 0;
}

.profile-pic {
  font-size: Arial;
  color: pink;
  background-color: red;
}

#calendar {

padding: 5px;
border: 3px black solid;
background-color: pink;
height:600px;
width: 50%;
margin: auto;


}


#list li {
  color: black;
  font-size: 200%;
}


.activities {
  display: inline;
  background-color: blue;
  border-radius: 25px;
  border: 2px solid black;
  color: white;
  width: 675px;
  padding-left: 50px;
  
}

.projects {
  display: inline;
  background-color: darkslategray;
  border-radius: 25px;
  border: 2px solid black;
  color: white;
  width: 675px;
  padding-left: 50px;
  
}

.option-box h3 {
  background-color: none;
 
}

/* h3 in the person view */

.o-p {
  width: 100px;
  margin-left: 10px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
}

.info-drawer {
  background-color: cornsilk;
  padding: 10px;
  width: 300px;
}

.reading-list li {
  padding: 10px;

}

input[type=submit] {
  border-radius: 5px;
  background-color: maroon;
  border: 1px solid black;
  color:silver;
  text-decoration: none;
  margin: 4px 2px;
}
