/* change defaults */



body {
  font-family: 'Consolas';
  background-color: red;
  color: black;
}

ul {
  list-style-type: none;
  padding: 5px;
}

body a {
  text-decoration: none;
  color:black;
}

a:hover {

  background-color: maroon;
  color: rgb(200,200,100);
  transform: scale(1.2);
}

h3:hover {
  background-color: maroon;
  color: rgb(200,200,100);
  transform: scale(1.2);
}

h1, p {
  text-align: center;
  font-weight: normal;
}

#container {
  width: 1180px;
  height: 1180px;
  margin-left: auto;
  margin-right: auto;
}

#main{
  width: 1000px;
  min-height: 200px;
  margin-left: 75px;
}

#main {
  display: block;
  position: relative;
  padding: 50px 0px;
}

img.logo {
  height: 54px;
  border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  display: inline-block;
}

.icon {
  width: 50px;
  display: block;
  margin: auto;
}

#header {

  padding-top: 30px;
  height: 90px;
  width: 60%;
  margin:auto;
   text-align:center;
}

.divider {
  color: black;
  padding-top: 20px;
  font-size: 30px;
}

/* #header > a.nav {
  padding-top: 20px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 20px;
  font-size: 30px;
  color: white;
} */


#footer {
  display: block;
  color: #8a8a8a;
  height: 100px;
  padding: 10px;
  text-align:center;
}


#home {
  
  background-image: url('/images/DSCF1886.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border: 3px solid purple;
  text-align: center;
  font-size: 150%;
  letter-spacing: 2px;
  font-weight: bold;
}


#home h1 {
  color: rgb(3, 3, 65);
  background-color: rgb(160, 46, 46, .2);
  display: block;
  width: 300px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  background-color: rgb(160, 46, 46, .2);
  display: block;
  width: 150px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
h4 {
  background-color: rgb(160, 46, 46, .2);
  display: block;
  width: 250px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.info-box {
  background: white;
}

.info-emphasis {
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

#people {

  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 30%;
  text-align: center;
  background-color: cornsilk;
  border: 2px solid purple;
  padding: 10px;

}

#people a {
  color: black;
  font-weight: bold;
  font-size: 150%;
}

#people-link {
  color: silver;
}

#people li {
  background-color: pink;
  padding-top: 5px;
}

#touch_points {

  background-color: silver;
  width: 50%;
  height: 400px;
  text-align: center;
  margin-left: 0px;

}

#profile {
  margin-left: 60px;
  display: inline;
  margin: 0;
}

.profile-pic {
  font-size: Arial;
  color: pink;
  background-color: red;
}

#calendar {

padding: 5px;
border: 3px black solid;
background-color: pink;
height:600px;
width: 50%;
margin: auto;


}


#list li {
  color: black;
  font-size: 200%;
}


.activities {
  display: inline;
  background-color: blue;
  border-radius: 25px;
  border: 2px solid black;
  color: white;
 
  padding-left: 50px;
  
}

.projects {
  display: inline;
  background-color: rgb(32, 184, 184);
  border-radius: 25px;
  border: 2px solid black;
  color: white;
  /* width: 675px; */
  padding-left: 50px;
  
}

.option-box h3 {
  background-color: none;
 
}



/* PROJECT STYLING */

.options {
  float: left;
}

/* .solid-color {
    color: purple;
} */

.multi-color-button {
  border: 3px solid <%=rand_color%>;
  padding: 3px;
  margin-left: 20px;
  background: <%=rand_color%>;
}

.cover-image {
  border: 7px solid red;
  border-radius: 15px;
  margin-left: 145px;
  margin-bottom: 10px;
  width: 300px;
  height: 200px;

}

/* replaced the following in-line style for the .options class */
/* style="float: center; text-align: center; border: 2px solid black;" */
.options-menu {
  float: center;
  text-align: center;
  border: 2px solid black;
}

.note-display {
  margin-top: 5px;
  padding: 20px;
}

.addendum-display {
  font-size: 120%;
  font-family: Consolas;
  margin-top: 5px;
  margin-left: 20px;
  padding: 20px;
}

.add-button, .link-button, .doc-button, .edit-button {
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  width: 50px;
  height: 25px;
  text-align: center;
  margin-left: 5px;
  font-size: 75%;
  padding: 2px;
}

.del-button {
  /* width: 50px;
  height: 25px; */
  color: black;
  background: <%=rand_color%>;
  font-weight: bold;
  font-style: italic;
  /* margin: 0px; 
    width: 25px; 
    height: 15px; 
    font-size: 30%; 
    text-align: center; 
    padding: 0px; */
}

.web-link-display {
  margin: 0px;
  float: left;
  margin-left: 5px;
}

.web-link-decoration {
  background-color: <%=rand_color%>;
  border: 2px solid white;
  padding: 2px;
}


/* h3 in the person view */

.o-p {
  width: 100px;
  margin-left: 10px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
}

.info-drawer {
  background-color: cornsilk;
  padding: 10px;
  width: 300px;
}

.reading-list li {
  padding: 10px;

}

input[type=submit] {
  border-radius: 5px;
  background-color: maroon;
  border: 1px solid black;
  color:silver;
  text-decoration: none;
  margin: 4px 2px;
}


.bottom-nav {
    font-weight: bold;
    border: 1px solid black;
    background-color: salmon;
    width: 70px;
    text-align: center;
    float: center;
    margin: auto;
    margin-bottom: 5px;

}
.solid-color {
    color: ivory;
}

.silly-test{
    color: gold;
}

.book-title{
    color: hotpink;
}



/* //activities  */

#project-log {
    margin-top: 40px; 
    background-color: <%=rand_color%>; 
    padding: 15px; 
    border: 5px solid black; 
    height: 200px;

}

.note-display { 
    border: 2px solid black; 
    border-radius: 10px; 
    padding-left: 2px; 
    padding-right: 2px; 
    margin-right: 10px;
}

#activity-log {
    background-color: <%=rand_color%>; 
    padding: 20px; 
    border: 5px solid black; 
    line-height: 25px;">
}


.special-letter {
    font-size: 300%; 
    color: <%=rand_color%>;
}

.log-title {
    border: 3px solid black; 
    border-radius: 5px; 
    width: 250px; 
    margin: auto;  
    margin-bottom: 10px; 
    text-align: center; 
    font-weight: bold; 
}


.comment-display {
    background: white; 
    padding: 2px;  
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-title {
    font-size: 150%; 
    text-align: center; 
    font-weight: bold; 
    margin: 0px; 
    margin-bottom: 5px; 
    margin-top: 5px; 
    color: white;
}

.project-boxes {
  float: left;
  max-width: 300px;
  height: 100 px;
  padding: 10px;
  border-radius: 8px;
  border: 5px solid black;
  margin-top: 5px;
  margin-right: 10px;

}

.date-display {
    display: block; 
    text-align: center
}


.bottom-nav {
  font-weight: bold;
  border: 1px solid black;
  background-color: salmon;
  width: 70px;
  text-align: center;
  float: center;
  margin: auto;
  margin-bottom: 5px;
}


/* dictionary/deck styles */

.deck-title {
  font-size: 300%;
  color: ivory;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.deck-title a {
  color: ivory;
}

.horz-options {
  text-align: center;
  color: darkblue;
  font-size: 110%;
}

.horz-options a {
  color: darkblue;
  font-weight: bold;
}

.deck-box {
  margin: auto;
  padding-top: 10px;
  border: 2px solid black;
  border-radius: 10% / 50%;
}

.deck-box hr {
  margin: auto;
  margin-bottom: 15px;
  color: silver;
  height: 2px;
  width: 85%;
  font-weight: bold;
}

.deck-box .addEntry {
  margin-left: 60px;
  margin-bottom: 25px;
}

.input-box {
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.deck-box .tag-box {
  margin: auto;
  text-align: center;
  color: ivory;
  font-size: 130%;
  text-shadow:
    -.5px -.5px 0 #000,
    .5px -.5px 0 #000,
    -.5px .5px 0 #000,
    .5px .5px 0 #000;
}

.deck-box li {
  display: inline;
}


.tag-box {
  color: ivory;
}

.tag-box .divider {
  text-shadow: none;
  font-size: 75%;
}

.entry-info {

  background-color: <%=rand_color%>;
  padding: 20px;
  padding-left: 30px;
  margin-bottom: 3px;
  border: 2px solid silver;
  margin-left: 20px;
  margin-right: 50px;
}

  .entry-form {
       
       
  }

  .form-box {
    margin-top: 10px;
  }

  .form-label {
    font-weight: bold;
    font-size: 110%;
    margin-left: 75px;
    margin-right: 20px;
    width: 50px;
  }

.typewriter {
  font-family: 'Courier New';
  font-weight: bold;
}

.highlight {
  background-color: yellow;
  padding: 2px; 
}

.lyric {
  margin-left: 300px;
}

.note-list {
  margin-left: 300px;
  background: white;
  padding: 5px;
}


