  <form action="/weblinks/delete/<%=@note.project_id%>/<%=@link.id%>/<%=@addendum.class%>/<%=@note.id%>" method="post" style="display:inline">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="*" class="del-button" onclick="clicked(event)">
  </form>