   <form action="/people/<%=@project.id%>/weblinks/delete/<%=@link.id%>" method="post" style="display:inline">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete" style="width: 25px; height: 15px; font-size: 30%; text-align: center; padding: 0px;" onclick="clicked(event)">
    </form>

