   <div id="createDictionary" class="input-box" style="display:none;">
        <form method= "POST" action="/dictionary/create">
            <input type="text" name= "title" placeholder="topic">
            <input type="submit" value= "submit">
        </form>
    </div>