  <div class="tag-box">
        <ul style="display: inline;">
         <% @results.each_with_index do |result, index| %>
            <li><a href="/dictionary/<%=result.dictionary_id%>/<%=result.id%>" style="color:ivory;"><%=result.term%></a>
             <% unless index == @results.length - 1 %>
                <span class="divider">|</span>
            <% end %>
            </li>
            <% end %>
        </ul>
    </div>