<div class="tag-box">
                    <ul>
                        <% @tags.each_with_index do |tag, index|%>
                        <%# remove class="onclick" %>
                        <%# removed span %>
                            <li><a href="/dictionary/tag/<%=@dictionary.id%>/<%=tag%>"><%=tag%></a>
                            <% unless index == @tags.length - 1 %>
                            <span class="divider">|</span>
                            <% end %>
                        </li>
                        <% end %>
                    </ul>
                </div> 