
<div class="solid-color">
    <% @type = "project" %>
    <%= erb :"projects/project_nav"%>
</div>

<% if @project.notes[0]%>
    
    <%= erb :"notes/notes_display" %>

<% end %>

        <%= erb :"app/menu_links" %>

</div>