

<% @type = "book" %>
<%= erb :"books/book_nav"%>

<%= erb :"books/quote_display"%>

<% @notes = @book.notes.sort_by{|note| note.created_at}%>

<%= erb :"notes/notes_display" %>

<p>
    <%= erb :"app/menu_links" %>
</p>

