    <form action="/project/<%=@project.id%>/book/create" method="POST">
        <input type="hidden" id="hidden">
        <label for="title">title</label>
        <input type="text" name="title">
        <label for="url">author</label>
        <input type="text" name="author">
        <label for="synopsis">synopsis</label>
        <input type="textarea" name="synopsis">
        <label for="pages">pages</label>
        <input type="integer" name="pages">
        <input type="submit" value="link">
    </form>