  <form action="/quote/<%=@book.project_id%>/<%=@book.id%>" method="POST">
        <input type="hidden" id="hidden">
        <input type="text" name="text" placeholder="quote">
        <input type="text" name="author" placeholder="author">
        <input type="text" name="source" placeholder="source">
        <input type="submit" value="quote">
    </form>