<% if @book.quotes[0]%>
<div style="background: <%=rand_color%> ">
<h5>Quotes</h5>
    <ul>
        <% @book.quotes.each do |quote|%>
        <li><%=quote.text%> --<%=quote.author%></li>
        <% end %>
    <ul>
<% end %>
</div>