

<style>



.annual_activity {
 text-align: center; 
 width: 15%; 
 float: left; 
 margin-right: 5px; 
 margin-bottom: 5px; 
 padding: 5px; 
 border: 2px solid black;
}

.annual-title{

margin: 0px; 
float: left;
}

.annual-date{
margin: auto;
}

</style>

<h1>Annuals</h1>
<div >    

<% @annual_activities = @activities.select{|activity| activity.annual == true}.sort_by{|activity| activity.created_at.strftime('%m/%d')}%>
            <%@annual_activities.each do |activity|%>
                    <a href="/people/<%=activity.account_id%>">
                    <div class="annual_activity" style="background-color: <%=@color_array[rand(63)]%>">
                        <h5 class="annual-date"><%=activity.created_at.strftime('%m/%d')%></h5>
                        <h3 class="annual-title"><%=activity.title%></h3>
                     </div>
                     </a>

            <% end %>
     
      
</div>


