

<style>



.annual_activity {
 text-align: center; 
 width: 15%; 
 float: left; 
 margin-right: 5px; 
 margin-bottom: 5px; 
 padding: 5px; 
 border: 2px solid black;
}

.annual-title{

margin: 0px; 
float: left;
}

.annual-date{
margin: auto;
}

</style>

    <h1>Annuals<span style="font-size: 50%;">  |  <a href="/project_log">Project Log</a></span><span style="font-size: 50%;">  |  <a href="/activity_log">Activity Log</a></span></h1>

                <div style="margin-top:20px;" > 
                    <%@annual_activities = @activities.select{|activity| activity.annual == true}.sort_by{|activity| activity.created_at.strftime('%m/%d')}%>
                    <%@annual_activities.each do |activity|%>
                        <a class="undecorated-link" href="/people/<%=activity.account_id%>">
                            <div class="project-boxes" style="background-color: <%=rand_color%>">
                                <h5 class="annual-title"><%=activity.title%></h5>
                                <span class="date-display"><%=activity.created_at.strftime('%m/%d')%></span>
                            </div>
                        </a>
                    <% end %>
                </div>


