
<% if @book%>
        <% @type = "book" %>
        <%= erb :"books/book_nav"%>

<% else %>
        <% @type = "project" %>
        <%= erb :"projects/project_nav"%>

<% end %>


        <%= erb :"notes/notes_display" %>

<% comment do %>
        <p>
                <%= erb :"app/menu_links" %>
        </p>
<% end  %>