   <div style="margin-top: 50px;">
                <p class="bottom-nav"><a href="/people/<%= @project ? @project.account_id : @default_id %>">back</a></p>
                <p class="bottom-nav"><a href="/people">people</a></p>
                <p class="bottom-nav"><a href="/activities" title="">action</a></p>
</div>